.toggle-container {
  display: flex;
  align-items: center;
  .toggle-element {
    width: 70px;
    height: 45px;
    float: left;
    .toggle-button {
      width: 40px;
      height: 10px;
      border-radius: 30px;
      margin: 16px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      background-color: #66c5c3;

      .inner-circle {
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 50%;
        cursor: pointer;
        border: 1px solid #00a09d;
        transition: all 0.2s linear;
      }

      &.active {
        .inner-circle {
          margin-left: 18px;
          transition: all 0.2s linear;
          background-color: #00a09d;
        }
      }
    }
  }
}
